.item-card {
    min-height: 26px;
    padding: 2px 5px;
    margin: 6px;

    font-family: $font-secondaire;
    font-weight: lighter;
    font-size: 1.4rem;

    border-radius: 5px;
    background-color: $color3;
}