.list-title {

    .typo-title {
        display: flex;
        padding: 6px;
        .list-title-standing {
            flex-grow: 1;
        }
    }
    
    .typo-input {
        padding: 0 6px;
        .list-title-input {
            padding: 6px;
            border-radius: 15px;
            &:focus {
                background-color: $color4;
            }
        }
    }

    
}