.list-title {
    .typo-title {
        display: flex;
        padding: 6px;
        .list-title-standing {
            flex-grow: 1;
            font-family: $font-tertiare;
            font-size: 1.4rem;
            font-weight: bold;
        }
    }
    
    .typo-input {
        padding: 0 6px;
        .list-title-input {
            padding: 6px;
            border-radius: 15px;
            &:focus {
                background-color: $color4;
            }
        }
    }    
}