@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
.main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 30px 0;
}

.main-title h1 {
  color: #bbe1fa;
  font-weight: 900;
  text-decoration: underline;
  -webkit-text-decoration-color: #3282b8;
          text-decoration-color: #3282b8;
  margin: 10px 0;
}

.main-title h4 {
  color: #bbe1fa;
  font-family: Nanum Pen Script, cursive;
  font-size: 1.8rem;
}

.main-content {
  width: 100%;
  height: auto;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.list-card {
  width: 260px;
  height: 400px;
  margin: 0 15px;
  background-color: #0f4c75;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 6px 3px #3282b8b3;
          box-shadow: 0px 0px 6px 3px #3282b8b3;
}

.list-title .typo-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px;
}

.list-title .typo-title .list-title-standing {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: Handlee, cursive;
  font-size: 1.4rem;
  font-weight: bold;
}

.list-title .typo-input {
  padding: 0 6px;
}

.list-title .typo-input .list-title-input {
  padding: 6px;
  border-radius: 15px;
}

.list-title .typo-input .list-title-input:focus {
  background-color: #bbe1fa;
}

.item-card {
  padding: 2px 5px;
  margin: 6px;
  font-family: Nanum Pen Script, cursive;
  font-weight: lighter;
  font-size: 1.4rem;
  border-radius: 5px;
  background-color: #3282b8;
}

.input-container {
  padding: 4px 5px;
  margin: 6px;
  border-radius: 15px;
  background-color: #0f4c75;
}

.input-card {
  padding: 0;
}

.input-card .add-item-input {
  padding: 6px;
  border-radius: 5px;
  background-color: #bbe1fa;
  border: solid 2px #1b262c;
}

.input-card .add-item-btnConfirm {
  padding: 1px 5px;
  background-color: #037603;
  color: whitesmoke;
  border: solid 2px #1b262c;
  border-radius: 5px;
}

.input-card .add-item-btnConfirm:hover {
  background-color: #03760399;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Amatic SC, cursive;
  font-size: 2rem;
}

.App {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1b262c;
}
/*# sourceMappingURL=App.css.map */