.main {
    display: flex;
    flex-direction: row;
    width: auto;

    .main-content {
        width: auto;
        height: auto;
    
        padding: 30px;
    
        display: flex;
        flex-direction: row;
    
        .input-container-list {
            align-items: flex-end;
        }
    }
}